
{% extends 'base/default.html' %}

{% load static %}
{% load compress %}


{% block pagetitle %}pmdm_sel_index - {{ block.super }}{% endblock pagetitle %}


{% block stylesheets %}{{ block.super }}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'pmdm_sel_index/styles.css' %}"/>
  {% endcompress %}
{% endblock stylesheets %}


{% block extra_head_content %}{{ block.super }}
  {% block metatags %}
    <meta name="robots" content="index, follow"/>
    {% include 'django_applog/includes/meta.html' with meta=pinger_params type='Pinger defaults' only %}
  {% endblock metatags %}
{% endblock extra_head_content %}


{% block extra_foot_content %}{{ block.super }}
  {% include 'django_applog/includes/pinger.html' %}
{% endblock extra_foot_content %}


